footer {
	text-align: center;
	padding-bottom: 20px;
	a, span { font-size: 12px; font-size: 1.2rem; }
	a { text-transform: uppercase; text-decoration: none;}
	a:hover { text-decoration: underline; }
	span { padding-left: 20px; }
}